/* Add additional stylesheets below
-------------------------------------------------- */
h1{
	text-align:center;
	color: #0000e6;
	font-size: 300%;
	font-weight: bold;
	font-family: Arial, Helveica, sans-serif;
	border-style: dashed;
    border-color: orange;
	width:60%;
	margin-left:6.7em;
}
#intro{
	float:left;
	font-family: Arial, Helveica, sans-serif;
	width:20%;
}
h3,p{
	font-family: Arial, Helveica, sans-serif;
}
/*#game{
	width:60%;
	//margin-left:50em;
	text-align:center;
}*/
#game{
	position:relative;
	margin-left:30em;
	margin-top:2em;
}





#dealButton{	
display:block; 
width:116px; 
height:111px;  
background:url(http://web.engr.oregonstate.edu/~liujiaw/cs361/1.png);
margin-left:36em;
}




.col{
	font-family: Arial, Helveica, sans-serif;
	color:#e6e6e6;
}
#sbmove{
	font-family: Arial, Helveica, sans-serif;
}
#to_col, #from_col{
	
}


.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f0c911), color-stop(1, #f2ab1e));
	background:-moz-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
	background:-webkit-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
	background:-o-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
	background:-ms-linear-gradient(top, #f0c911 5%, #f2ab1e 100%);
	background:linear-gradient(to bottom, #f0c911 5%, #f2ab1e 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e',GradientType=0);
	background-color:#f0c911;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #e65f44;
	display:inline-block;
	cursor:pointer;
	color:#c92200;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ded17c;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f2ab1e), color-stop(1, #f0c911));
	background:-moz-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
	background:-webkit-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
	background:-o-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
	background:-ms-linear-gradient(top, #f2ab1e 5%, #f0c911 100%);
	background:linear-gradient(to bottom, #f2ab1e 5%, #f0c911 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911',GradientType=0);
	background-color:#f2ab1e;
}
.myButton:active {
	position:relative;
	top:1px;
}
body{ margin:0; padding:0;}
#con{ 
position:absolute; 
top:0; 
left:0; 
height:100%; 
width:100%; 
background:url(http://web.engr.oregonstate.edu/~zhenxiao/spain_background.jpg); 
background-position: center 0; 
background-repeat: no-repeat; 
background-attachment:fixed; 
background-size: cover; 
-webkit-background-size: cover;
}

#spain{
display:block; 
width:73px; 
height:111px;  
background:url(http://web.engr.oregonstate.edu/~zhenxiao/spain_deal.jpg);
margin-left:36em;

}
#normal{
display:block; 
width:73px; 
height:111px;  
background:url(http://web.engr.oregonstate.edu/~zhenxiao/normal.jpg);
margin-left:12em;
}

