<marquee direction=left width="90%" scrollamount=16 onmouseover="this.stop()" onmouseout="this.start()"> 
<h1>Welcome to Aces Up!!!</h1></marquee>

<link href="/assets/css/AcesUp.css" rel="stylesheet">
<link href="/assets/css/custom.css" rel="stylesheet">
<script type="text/javascript" src="/assets/webjars/jquery/2.1.3/jquery.js"></script>

<body background="http://web.engr.oregonstate.edu/~liujiaw/cs361/background.jpg">

<div id="intro">
<ul>
<h3>Rules of Aces Up from wikipedia </h3>
  <li>Deal four cards in a row face up.</li>
  <li>If there are two or more cards of the same suit, discard all but the highest-ranked card of that suit.</li>
  <li>Repeat step 2 until there are no more pairs of cards with the same suit.</li>
  <li>Whenever there are any empty spaces, you may choose the top card of another pile to be put into the empty space. 
	After you do this, go to Step 2. </li>
<li>When there are no more cards to move or remove, deal out the next four cards from the deck face-up onto each pile.</li>
<li>Repeat Step 2, using only the visible, or top, cards on each of the four piles.</li>
<li>When the last four cards have been dealt out and any moves made, the game is over. The fewer cards left in the tableau, the better. 
	To win is to have only the four aces left. </li>
</ul>
</div>

<div id="game">
<table class="sbgame">
    <tr class="title">
        <td class="col">Column 1</td>
        <td class="col">Column 2</td>
        <td class="col">Column 3</td>
        <td class="col">Column 4</td>
    </tr>

    <tr><td class="columnOfCards" id="c0">
        <table>
            <tr><td class="cardLocation l0"></td></tr>
            <tr><td class="cardLocation l1"></td></tr>
            <tr><td class="cardLocation l2"></td></tr>
            <tr><td class="cardLocation l3"></td></tr>
            <tr><td class="cardLocation l4"></td></tr>
            <tr><td class="cardLocation l5"></td></tr>
            <tr><td class="cardLocation l6"></td></tr>
            <tr><td class="cardLocation l7"></td></tr>
            <tr><td class="cardLocation l8"></td></tr>
            <tr><td class="cardLocation l9"></td></tr>
            <tr><td class="cardLocation l10"></td></tr>
            <tr><td class="cardLocation l11"></td></tr>
            <tr><td class="cardLocation l12"></td></tr>
            <tr><td class="cardLocation l13"></td></tr>
			<tr><td><button class="myButton" id="Remove1">Remove</button></td></tr>
        </table>
    </td>
        <td class="columnOfCards" id="c1">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
				<tr><td><button class="myButton" id="Remove2">Remove</button></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c2">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
				<tr><td><button class="myButton" id="Remove3">Remove</button></td></tr>
            </table>
        </td>
        <td class="columnOfCards" id="c3">
            <table>
                <tr><td class="cardLocation l0"></td></tr>
                <tr><td class="cardLocation l1"></td></tr>
                <tr><td class="cardLocation l2"></td></tr>
                <tr><td class="cardLocation l3"></td></tr>
                <tr><td class="cardLocation l4"></td></tr>
                <tr><td class="cardLocation l5"></td></tr>
                <tr><td class="cardLocation l6"></td></tr>
                <tr><td class="cardLocation l7"></td></tr>
                <tr><td class="cardLocation l8"></td></tr>
                <tr><td class="cardLocation l9"></td></tr>
                <tr><td class="cardLocation l10"></td></tr>
                <tr><td class="cardLocation l11"></td></tr>
                <tr><td class="cardLocation l12"></td></tr>
                <tr><td class="cardLocation l13"></td></tr>
				<tr><td><button class="myButton" id="Remove4">Remove</button></td></tr>
            </table>
        </td>
    </tr>
</table>


<!--<BR>Remove from: <button class="myButton" id="Remove1">Remove</button><button id="Remove2">Remove</button>
<button id="Remove3">Remove</button><button id="Remove4">Remove</button>-->

<p id="sbmove"><BR>Move from column <input type="text" id="from_col" size="4" /> to <input type="text" id="to_col" size="4" /> 
<button class="myButton" id="moveButton">Move</button> <button class="myButton" id="flesh" onclick="fresh()">Play again</button></p>


<!--<button id="dealButton">Deal</button>-->

<a id="dealButton"> </a>


</div>
<script>

var game;
var size_0_0;
var size_1_1;
var size_2_2;
var size_3_3;
var size_0;
var size_1;
var size_2;
var size_3;
function display(game) {
	size_0_0=0;
	size_1_1=0;
	size_2_2=0;
	size_3_3=0;
	console.log(game);
	$( '.columnOfCards .cardLocation' ).html("");
		$.each(game.cols[0], function( key, val ) {
			$( '#c0 .l'+key ).prepend('<img class="card" src=" assets/images/'+val.suit+ '/'+val.value+'.jpg" />')
			size_0_0=size_0_0+1;
		});
	 $.each(game.cols[1], function( key, val ) {
			$( '#c1 .l'+key ).prepend('<img class="card" src=" assets/images/'+val.suit+ '/'+val.value+'.jpg" />')
			size_1_1=size_1_1+1;
		});
		
	 $.each(game.cols[2], function( key, val ) {
			$( '#c2 .l'+key ).prepend('<img class="card" src=" assets/images/'+val.suit+ '/'+val.value+'.jpg" />')
			size_2_2=size_2_2+1;
		});
		
	 $.each(game.cols[3], function( key, val ) {
			$( '#c3 .l'+key ).prepend('<img class="card" src=" assets/images/'+val.suit+ '/'+val.value+'.jpg" />')
			size_3_3=size_3_3+1;
		});
	if (size_0 == size_0_0 && size_1==size_1_1 && size_2==size_2_2 && size_3==size_3_3){
		alert ("remove failed");
	}
	size_0=size_0_0;
	size_1=size_1_1;
	size_2=size_2_2;
	size_3=size_3_3;
}

$.getJSON("http://localhost:8080/game1", function( data ) {
display(data);
game = data;
});


$("#dealButton").click(function(){
$.ajax({
  type: "POST",
  url: "/dealGame1",
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
	error: function(errMsg){
 alert("there is no cards for deal");
 },
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


function removeCard(colNumber){
$.ajax({
type: "POST",
url: "/removeCard1/"+colNumber,
data: JSON.stringify(game),
success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
game = data;
display(data);},
contentType:"application/json; charset=utf-8",
dataType:"json",
});

}


$("#Remove1").click(function(){
    removeCard(0);
});
$("#Remove2").click(function(){
    removeCard(1);
});
$("#Remove3").click(function(){
    removeCard(2);
});
$("#Remove4").click(function(){
    removeCard(3);
});


$("#moveButton").click(function(){
var colFrom = $("#from_col").val() -1;
var colTo = $("#to_col").val() -1;
$.ajax({
  type: "POST",
  url: "/moveCard1/"+colFrom+"/"+colTo,
  data: JSON.stringify(game),
  success: function(data, status){console.log("Data: " + data + "\nStatus: " + status);
        game = data;
        display(data);},
  contentType:"application/json; charset=utf-8",
  dataType:"json",
});
});


</script>



<script>
// credit: <!-- This Script is from www.htmlfreecodes.com, Provided by: Mahmood Bina -->
var snowmax=100

var snowcolor=new Array("#aaaacc","#ddddFF","#ccccDD","#a0a0d6")

var snowtype=new Array("Arial Black","Arial Narrow","Times","Comic Sans MS")

var snowletter="*"

var sinkspeed=0.7

var snowmaxsize=22

var snowminsize=8

var snowingzone=1

var snow=new Array()
var marginbottom
var marginright
var timer
var i_snow=0
var x_mv=new Array();
var crds=new Array();
var lftrght=new Array();
var browserinfos=navigator.userAgent 
var ie5=document.all&&document.getElementById&&!browserinfos.match(/Opera/)
var ns6=document.getElementById&&!document.all
var opera=browserinfos.match(/Opera/)  
var browserok=ie5||ns6||opera

function randommaker(range) {		
	rand=Math.floor(range*Math.random())
    return rand
}

function initsnow() {
	if (ie5 || opera) {
		marginbottom = document.body.clientHeight
		marginright = document.body.clientWidth
	}
	else if (ns6) {
		marginbottom = window.innerHeight
		marginright = window.innerWidth
	}
	var snowsizerange=snowmaxsize-snowminsize
	for (i=0;i<=snowmax;i++) {
		crds[i] = 0;                      
    	lftrght[i] = Math.random()*15;         
    	x_mv[i] = 0.03 + Math.random()/10;
		snow[i]=document.getElementById("s"+i)
		snow[i].style.fontFamily=snowtype[randommaker(snowtype.length)]
		snow[i].size=randommaker(snowsizerange)+snowminsize
		snow[i].style.fontSize=snow[i].size
		snow[i].style.color=snowcolor[randommaker(snowcolor.length)]
		snow[i].sink=sinkspeed*snow[i].size/5
		if (snowingzone==1) {snow[i].posx=randommaker(marginright-snow[i].size)}
		if (snowingzone==2) {snow[i].posx=randommaker(marginright/2-snow[i].size)}
		if (snowingzone==3) {snow[i].posx=randommaker(marginright/2-snow[i].size)+marginright/4}
		if (snowingzone==4) {snow[i].posx=randommaker(marginright/2-snow[i].size)+marginright/2}
		snow[i].posy=randommaker(2*marginbottom-marginbottom-2*snow[i].size)
		snow[i].style.left=snow[i].posx
		snow[i].style.top=snow[i].posy
	}
	movesnow()
}

function movesnow() {
	for (i=0;i<=snowmax;i++) {
		crds[i] += x_mv[i];
		snow[i].posy+=snow[i].sink
		snow[i].style.left=snow[i].posx+lftrght[i]*Math.sin(crds[i]);
		snow[i].style.top=snow[i].posy
		
		if (snow[i].posy>=marginbottom-2*snow[i].size || parseInt(snow[i].style.left)>(marginright-3*lftrght[i])){
			if (snowingzone==1) {snow[i].posx=randommaker(marginright-snow[i].size)}
			if (snowingzone==2) {snow[i].posx=randommaker(marginright/2-snow[i].size)}
			if (snowingzone==3) {snow[i].posx=randommaker(marginright/2-snow[i].size)+marginright/4}
			if (snowingzone==4) {snow[i].posx=randommaker(marginright/2-snow[i].size)+marginright/2}
			snow[i].posy=0
		}
	}
	var timer=setTimeout("movesnow()",50)
}

for (i=0;i<=snowmax;i++) {
	document.write("<span id='s"+i+"' style='position:absolute;top:-"+snowmaxsize+"'>"+snowletter+"</span>")
}
if (browserok) {
	window.onload=initsnow
}
</script>

<script>
    function fresh ( ) {
		location.reload();
	}
</script>



</body>
</html>