<!DOCTYPE html>
<html>

<head lang="en">
   <meta charset="utf-8">
   <title>Choose your deck</title>
   <style>
   h1,h3{
   text-align:center;
   font-family: Arial, Helveica, sans-serif;
   }
   img{
   height:258px;
   width:162px;
   }
   table{
   margin-top:5em;
   }
   .normal{
   position:relative;
   margin-left:1em;
   }
   td{
   font-family: Arial, Helveica, sans-serif;
   color: #663399;
   font-size:300%;
   }
   </style>
</head>

<body background="http://web.engr.oregonstate.edu/~liujiaw/cs361/hui.jpg">
<h1>Welcome to porker games	</h1>
<h3>Please choose Spanish or US deck to start the game</h3> 
<center>
<table>
<tr><td>
<a id="spain" href="AcesUp1">
<img border="0" src="http://web.engr.oregonstate.edu/~liujiaw/cs361/spanish_card.jpg" />
</a></td>
<td id="red"> OR  </td>
<td>
<a id="normal" href="AcesUp">
<img border="0" src="http://web.engr.oregonstate.edu/~liujiaw/cs361/normal_card.jpg" />
</a>
</td>
<tr>
</table>
<center>

</body>

</html>
