<!DOCTYPE html>
<html>

<head lang="en">
   <meta charset="utf-8">
   <title>Choose your deck</title>
</head>

<body>
<a href="http://web.engr.oregonstate.edu/~liujiaw/cs290/assignments/assignment1/problem1.html" target="_blank">problem #1 <br /></a>

<a href="http://web.engr.oregonstate.edu/~liujiaw/cs290/assignments/assignment1/problem2.html" target="_blank">problem #2 <br /></a>

<a href="http://web.engr.oregonstate.edu/~liujiaw/cs290/assignments/assignment1/problem3.html" target="_blank">problem #3 <br /></a>


</body>

</html>
